.list {
    width: 90%;
    max-width: 40rem;
    margin: 5rem auto;
  }
  .menus {
    width: 90%;
    max-width: 60rem;
    margin: var(--size-8) auto;
  }
  
  .menus h1 {
    font-size: var(--size-8);
    color: var(--color-grey-800);
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .menus h1 {
      font-size: var(--size-16);
    }
  }